# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# workspace
.idea/
.venv/
.mypy_cache/
.pytest_cache/

# flutter workspace
end_user_app/android/
end_user_app/ios/
end_user_app/test/
end_user_app/web/

# project internal
old/
proto/
bin/
pyd_bin/
