altgraph==0.17
Cython==0.29.22
future==0.18.2
importlib-metadata==3.7.3
numpy==1.20.1
pandas==1.2.3
pefile==2019.4.18
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PySide6==6.0.2
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
shiboken6==6.0.2
six==1.15.0
typing-extensions==3.7.4.3
zipp==3.4.1
